*{
  margin: 0;
  padding: 3;
  box-sizing: border-box;
  text-align: center;
  background: ;
}

.cardHighlight{
  min-height: 100% ;
  text-align: center;
}
.navbar{
  background: lightpink;
  display: flex;
  text-align: justify-all;

}
.banner{
  text-align: center;
}
.carousel{
  display: flex;
}
.footer{
  position: absolute bottom;
}
.home{
  font-style: ;
}